target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.gradle/
.idea
*.iws
*.iml
*.ipr

npm-debug.log*

.DS_Store
node_modules/
!frontend/static/
dist/
*.log
test/unit/coverage
test/e2e/reports

dubbo-registry-*.cache
dubbo-registry-*.cache.lock
package-lock.json

